.Game {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}

.game-column {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.actions-column {
  padding-left: 40px;
}
