* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

.home {
  display: flex;
  margin: 0;
  padding: 2rem;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  height: 100vh; /* Takes the full viewport height */
  position: relative;

  --home-button-background-1: hsl(332, 41%, 40%) 0%;
  --home-button-background-2: hsl(0, 52%, 32%) 100%;

  --join-button-background-1: hsl(179, 46%, 30%) 0%;
  --join-button-background-2: hsl(218, 52%, 32%) 100%;

  --watch-button-background-1: hsl(36, 13%, 44%) 0%;
  --watch-button-background-2: hsl(300, 9%, 38%) 100%;
}

#background {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: brightness(1.2);
  opacity: 0.6;
}

#background:after {
  content: "";
  background-image: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.4) 70%,
    transparent
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensures the gradient doesn't interfere with user interactions */
}

.home-button {
  padding: 1rem 4rem;
  margin: 0.5rem;
  font-size: 2rem;
  border: none; /* remove any default browser styling */
  border-radius: 1rem;
  background: linear-gradient(
    90deg,
    var(--home-button-background-1),
    var(--home-button-background-2)
  );
  color: white;
  cursor: pointer; /* change mouse cursor when hovering over the button */
  transition: all 0.3s ease; /* smoothen the hover effect changes */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* slight shadow for a lift effect */
  position: relative; /* to create an overlay effect on hover */
  overflow: hidden; /* to ensure the overlay stays within the button */
}

.home-button::before {
  content: "";
  background: rgba(255, 255, 255, 0.1); /* subtle white overlay */
  position: absolute;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  transform: skewX(-45deg); /* skewed overlay for a dynamic effect */
  transition: all 0.5s ease;
}

.home-button:hover::before {
  left: 100%;
}

.home-button:hover {
  transform: translateY(-3px); /* lift button up a bit */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* enhance shadow for a lift effect */
}

.join-button {
  padding: 0.75rem 1.5rem !important;
  font-size: 1rem !important;
  width: 6rem;
  border-radius: 0.7rem !important;
  background: linear-gradient(
    90deg,
    var(--join-button-background-1),
    var(--join-button-background-2)
  ) !important;
}

.watch-button {
  padding: 0.75rem 1.5rem !important;
  font-size: 1rem !important;
  width: 6rem;
  border-radius: 0.7rem !important;
  background: linear-gradient(
    90deg,
    var(--watch-button-background-1),
    var(--watch-button-background-2)
  ) !important;
}

#logo {
  width: 500px;
}

.about-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 50px; /* adjust size of the icon */
  z-index: 1000; /* ensure it's above other content */
  transition: all 0.3s ease;
}

.about-icon:hover {
  transform: translateY(-3px);
  opacity: 0.7;
}

.about-popup {
  width: 70%; /* making it 70% of the screen width */
  max-width: 600px; /* Optional: a max width so it doesn't get too wide on large screens */
  background-color: #ddd; /* white background */
  border-radius: 15px; /* rounded corners */
  padding: 25px; /* spacing inside the popup */
  padding-left: 35px;
  padding-right: 35px;
  position: relative; /* to position the close button absolutely within this popup */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* shadow for a pop effect */
  opacity: 0.95;
  display: flex; /* makes sure content is vertically centered */
  justify-content: center; /* centers content horizontally */
  align-items: center; /* centers content vertically */
  max-height: 70vh;
  height: auto; /* lets it adapt to content */
  overflow-y: auto; /* in case content is too much for the popup */
}

.about-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description {
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.3;
  color: #666;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998; /* make sure this is below the popup and above other content */
}

.popup-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px; /* adjust size of the x icon */
  z-index: 1001; /* ensure it's above the popup */
}

.player-name-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 0.25rem;
  /* align-items: baseline; */
}

.player-name-input {
  padding: 5px;
  font-size: 20px; /* or any other size you prefer */
  border: 1px solid #bbb;
  border-radius: 8px;
}

.player-name-label {
  font-size: 20px; /* or any other size you prefer */
  font-weight: 500;
}

.game-list-label {
  font-size: 20px; /* or any other size you prefer */
  font-weight: 500;
  width: 40rem;
}

.game-list {
  display: flex;
  flex-direction: column;
  width: 100%; /* or whatever width you desire */
  max-width: 40rem;
  background-color: white;
  border: 2px solid gray;
  border-radius: 6px;
  align-content: center;
  overflow-y: auto;
}

.game-list .game {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* or any other alignment you prefer */
  border-bottom: 1px solid #e0e0e0; /* Optional: to create a separation between rows */
  font-size: 1.2rem;
  align-items: center;
  padding: 0 0.6rem;
}

.game-list .names {
  flex: 1; /* This makes each cell take equal width */
  padding: 8px; /* padding for aesthetics */
  gap: 0.75rem;
  display: flex;
}

.game-list .watchers {
  display: flex;
  align-items: center;
}

.game-list .eye {
  font-size: 1.8rem;
}

.game-list .red {
  color: red;
  font-weight: 500;
}

.game-list .blue {
  color: blue;
  font-weight: 500;
}

.game-list::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.game-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  border-radius: 10px;
}

.game-list::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 10px;
}

.game-list::-webkit-scrollbar-thumb:hover {
  background: #777; /* color of the scroll thumb on hover */
}
