.edge {
  transition: background-color 0.2s, box-shadow 0.2s;
}

.horizontal {
  width: 80px;
  height: 12px;
}

.vertical {
  width: 12px;
  height: 80px;
}

.gray {
  background-color: #eee;
}

.red {
  background-color: red;
}

.lightred {
  background-color: rgb(239, 210, 210);
}

.lightred-pending {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 10px 10px;
  background-color: rgb(239, 210, 210);
}

.blue {
  background-color: blue;
}

.lightblue {
  background-color: rgb(198, 198, 249);
}

.lightblue-pending {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 10px 10px;
  background-color: rgb(198, 198, 249);
}

.black {
  background-color: black;
  cursor: not-allowed;
}

.edge:not(.black):not(.disabled):hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.vertical:not(.disabled):hover {
  background-color: rgb(239, 210, 210);
}
.horizontal:not(.disabled):hover {
  background-color: rgb(198, 198, 249);
}

.edge.disabled {
  cursor: not-allowed;
}
