.button {
  color: white;
  font-size: 20px;
  border-radius: 5px;

  width: 140px;
  height: 50px;

  margin: 2px;
}

.button.red {
  background-color: rgb(255, 128, 128);
}

.button.blue {
  background-color: rgb(128, 128, 255);
}

.button.green {
  background-color: rgb(96, 192, 96);
}

.button.gray {
  background-color: rgb(96, 96, 96);
}

.button.disabled {
  background-color: rgb(164, 164, 164);
}

.button:not(.disabled):hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.05);
}
