.button {
  color: white;
  font-size: 24px;
  border-radius: 5px;

  width: 130px;
  height: 50px;
}

.button.red {
  background-color: rgb(255, 128, 128);
}

.button.blue {
  background-color: rgb(128, 128, 255);
}

.button.green {
  background-color: rgb(96, 192, 96);
}

.button.gray {
  background-color: rgb(96, 96, 96);
}

.button.disabled {
  background-color: rgb(164, 164, 164);
}
