.custom-alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  color: white;
  padding: 16px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  z-index: 1000;
  animation: fadeInOut 4s forwards;
}

.custom-alert.red {
  background-color: rgb(255, 128, 128);
}

.custom-alert.blue {
  background-color: rgb(128, 128, 255);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
